body {
    background-color: cadetblue;
    font-family: "Lucida Console", Courier, monospace;
  }
  button {
    background-color: linen;
    border: solid 10px darkgray;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
  }
  
  a {
    color: black;
    font-style: normal;
  }
  
  h1 {
    text-align: center;
    font-weight: bold;
    margin: 30px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-size: 80px;
    color:linen;
  
  }
  h2 {
    text-align: center;
    font-weight: bolder;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
  
    "left header header header right"
    "left button1 button1 button1 right"
    "left bottom bottom bottom right"
    "left footer footer footer right";
  }
  
  .grid-item{
    text-align: center;
  }
  
  .left{
    grid-area: left;
    background-color: linen;
    border-right: 5px solid white;
  }
  
  .right{
    grid-area: right;
    background-color: linen;
    border-left: 5px solid white;
  }
  
  .header{
    grid-area: header;
  
  }
  .button1{
    grid-area: button1;
  }
  .bottom{
    grid-area: bottom;
    padding: 150px;
  }
  .footer{
    grid-area: footer;
  }
  